[
  {kernel, [
    {inet_dist_listen_min, {{ salt['pillar.get']('rabbitmq:inet_dist_listen_min', '9100') }}},
    {inet_dist_listen_max, {{ salt['pillar.get']('rabbitmq:inet_dist_listen_max', '9200') }}},
    {inet_default_listen_options, [
      {nodelay, true},
      {sndbuf, 65535},
      {recbuf, 65535},
      {keepalive, true}
    ]},
    {inet_default_connect_options, [
      {nodelay, true},
      {keepalive, true}
    ]}
  ]},
  {mnesia, [
    {dump_log_write_threshold, 1000}
  ]},
  {rabbit, [
    {vm_memory_high_watermark, {{ salt['pillar.get']('rabbitmq:vm_memory_high_watermark', '0.75') }}},
    {memory_alarms, true},
    {disk_free_limit, {mem_relative, 1.0}},
    {cluster_partition_handling, {{ salt['pillar.get']('rabbitmq:cluster_partition_handling', 'pause_minority') }}}
{%- if salt['pillar.get']('rabbitmq:nodes', False) -%}
    ,{cluster_nodes, {[{%- for node in salt['pillar.get']('rabbitmq:nodes') -%}'rabbit@{{ node }}'{%- if not loop.last -%}, {%- endif -%}{%- endfor -%}], disc}}
{%- endif -%}
{%- if salt['pillar.get']('rabbitmq:ssl:enabled', false) -%}
    ,{ssl_listeners, [5671]},
    {ssl_options, [
      {cacertfile,"/etc/rabbitmq/ssl/cacert.pem"},
      {certfile,"/etc/rabbitmq/ssl/cert.pem"},
      {keyfile,"/etc/rabbitmq/ssl/cert.key"},
      {verify, verify_none},
      {fail_if_no_peer_cert,false}
    ]}
{%- endif -%}
  ]}
].
